<ion-view title="Talk to Moven!" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="talkToMoven-form4" class="list ">
            <p id="talkToMoven-markdown1" style="color:#729ACC;font-size:15px;text-align:center;" class=" ">Hey there! I'm
                <strong>Moven</strong>. You can talk to me about all your banking needs, from your
                <strong>balances</strong> to your
                <strong>recent activity</strong> and
                <strong>upcoming expenses</strong>. I'll respond with advice and information. Get started by typing below.</p>
            <label class="item item-input " id="talkToMoven-input6">
                <input type="text" ng-model="queryModel.text"  placeholder="ie, &quot;What's my balance?&quot;">
            </label>
            <button ng-click="sendToBot()"
                    id="talkToMoven-button3" class=" button button-positive  button-block button-outline ">Send to MovenBot</button>
            <p><strong>Moven says:</strong> {{ botResponse }}</p>
        </form>
      <p style="color:#729ACC;font-size:15px;text-align:center;">Want to use <b>voice</b> to ask me a question? We can do that too. Just click below!</p>
      <button ng-click="voiceRequest()" icon = "ion-mic-c"
              id="talkToMoven-button4" class=" button button-positive button-block">Make a Voice Request</button>
      <p><strong>Voice Response</strong> {{ voiceReply }}</p>
      <p style ="font-style:italic">Progress: {{ progressVal }}</p>
    </ion-content>
</ion-view>
